/*#topbarscroll {
	max-width: 620px;
	margin: auto;
}
*/


#topbarscroll-container {
	text-align: center;
	/* margin-top: 107px;
	margin-bottom: 40px;
	height: 60px; */
}

/* #topbarscroll-container i {
	font-size: 36px;
	margin: 8px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#topbarscroll-container i:hover {
	color: #333;
} */

#topbarscroll li {
	color: #f2f2f2;
	/* background: #5d69d8; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
	padding: 10px 10px 10px 10px;
	line-height: 40px;
	list-style: none;
	font-size: 26px;
	text-align: center;
}

#topbarscroll li span img {
	padding-bottom: 12px;
}

/* #topbarscroll span.hour {
	font-weight: 700;
} */

